@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


// Variables
$primary-color: #ff004f;
$secondary-color: #414141;
$blue-color: #50b6bb;
$dark-blue-color: #233142;

$border-color: lightgrey;

body {
    background-color: #ffffff;
    color: #17171c;
    font-family: 'Roboto', sans-serif;

}

ul { margin:0; padding:0 };