@import "../../global.scss";

.container {
  ul {
    margin-top: 2rem;
    list-style-type: none;
    li {
      list-style: none;
      background-color: $secondary-color;
      border-width: 0px;
      border-color: #ffffff;
      border-radius: 25px;
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      color: #ffffff;
      cursor:pointer;

    }
  }
}

.liSelected {
  background-color: $primary-color !important;
  color: #ffffff  !important;

}

.liDisabled {
  background-color: grey !important;
  color: #ffffff  !important;

}

